{% extends 'base.html.twig' %}

{% block title %}Columna index{% endblock %}

{% block body %}
    <h1>Columna index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for columna in columnas %}
            <tr>
                <td>{{ columna.id }}</td>
                <td>{{ columna.titulo }}</td>
                <td>{{ columna.link }}</td>
                <td>
                    <a href="{{ path('app_columna_show', {'id': columna.id}) }}">show</a>
                    <a href="{{ path('app_columna_edit', {'id': columna.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_columna_new') }}">Create new</a>
{% endblock %}
