{% extends 'base.html.twig' %}

{% block title %}Edicion{% endblock %}

{% block body %}
    <h1>Edicion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ edicion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ edicion.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_edicion_index') }}">back to list</a>

    <a href="{{ path('app_edicion_edit', {'id': edicion.id}) }}">edit</a>

    {{ include('edicion/_delete_form.html.twig') }}
{% endblock %}
